body {
	background-color: #FBCB69;
}

img {
    display: block;
    margin: auto;
}

h2 {
	font-family: "Arial", "Verdana", Sans-serif;
	color: red;
	font-weight: normal;
	text-align: center;
}

p {
	text-align: center;
}

#newBurger {
	display: block;
	margin: auto;
	height: 50px;
	width: 250px;
}

#submit {
	display: block;
	margin: 10px auto;
	color: white;
	background: blue;
}

.burgerBox {
	height: 50px;
	width: 250px;
	text-align: center;
	display: inline;
}

.devour {
	display: inline;
}

.burgerEatenBox {
	display: block;
	color: gray;
	width: 300px;
	height: 20px;
}

#burgersReady {
	display: block;
	margin: auto;
}

#burgersEaten {
	display: block;
	margin: auto;
}